{% extends 'index.html' %}
{% load static %}
{% block content %}
 <div class="row app-card shadow-sm p-4">
         <form method="post" action="{% url 'edit-welfare' member.id welfare.id %}" enctype="multipart/form-data">


                      <h5>Edit Welfare Payment - {{ member }}</h5>
                      {%csrf_token%}
                      {% for field in form.hidden_fields %}
                          {{ field }}
                      {% endfor %}
                   <div class="row  ">
                       {{ form.as_p }}
                   </div>
              <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                <div class="col-auto">
                    <button type="submit"   class="btn app-btn-primary mt-3">Update Welfare </button>
                </div>
            </div>
         </form>
 </div>

{% endblock %}